input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	display: inline-block;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border: 2px solid #95bbff;
	border-radius: 3px;
	position: relative;
	top: 3px;
}
input[type="checkbox"]:checked + label .checkmark {
	left: 4px;
	top: -1px;
	width: 5px;
	height: 10px;
	border: solid #95bbff;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	position: absolute;
}

input[type="checkbox"]:checked + label + span {
	text-decoration: line-through;
	color: gray;
}

.todo-list {
	text-align: center;
}

.list-box {
	border: 1px solid #e2e2e2;
    width: 40vw;
    height: 70vh;
    margin: 9vh auto;
	box-shadow: 0px 15px 15px 15px #e0e0e0;
	padding: 50px;
}

.todo-add {
	padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #dedede;
}

.todo-input {
	width: 89%;
	height: 30px;
	border: 1px solid #95bbff;
	border-radius: 3px;
}

.add-btn {
	border: 1px solid #95bbff;
	border-radius: 3px;
	width: 78px;
	height: 35px;
	background-color: #95bbff;
	color: #fff;
	font-size: 16px;
}

.title {
	font-size: 50px;
	padding: 20px;
	font-weight: 500;
    border-bottom: 1px solid #dedede;
}

.ul-st {
	list-style: none;
	padding-left: 15px;
	height: 400px; 
	overflow: auto;
	margin: 30px 0 0 0;
}

.li-st {
	margin-bottom: 10px;
}

.li-st label {
	float: left;
}

.loading-bar{
	width: 100px;
	height: 100px;
	border: 3px inset;
	border-radius: 60px;
	animation-duration: 3s;
	animation-name: loading-bar;
	animation-iteration-count: infinite;
	transform: rotate(-45deg);
}

@keyframes loading-bar {
	to {
		transform: rotate(315deg);
	}
}

.ul-st::-webkit-scrollbar {
	width: 13px;
}

.ul-st::-webkit-scrollbar-thumb {
	background-color: #95bbff;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

.ul-st::-webkit-scrollbar-track {
	background-color: #dadada;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

.todo-span {
	width: 90%;
	display: inline-block;
    word-break: break-all;
}

.del-btn {
	border: none;
	background-color: white;
	cursor: pointer;
	font-size: 20px;
	vertical-align: top;
}
